body {
    font-family: "Exo", "Noto Sans CJK", sans-serif;
}

.canvas-scroller {
    height: calc(100% - 50px);
    max-height: calc(100% - 50px);
    overflow-y: scroll;
    position: absolute;
    width: 550px;
    top: 0;
    right: 0;
}

.canvas-scroller canvas {
    position: fixed;
    right: 150px;
}